body {
	margin: auto;
    width: 70%;
    padding: 10px;
	background: white;
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
img.displayed {
    width:50%;
    height: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
p {
	font-family: Arial;
	color: black;
}
ul {
    list-style-type: none;
    margin: 0;
	padding-top: 30px;
	padding-left: 0;
	padding-right: 0;
	font-family: Arial;
	text-align: center;
} 
ul.a {
	list-style-type: circle;
	text-align: left;
}
table, th, td {
    border: 1px solid black;
}
